.ourfeaturesection {
    margin: 0 auto;
    max-width: 1500px;
}

.ourfeaturesectiontitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourfeaturesectiontitle h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.ourfeaturesectiontitle p {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    max-width: 500px;
}

.courseContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}