@use "../../app/_variables.scss" as *;

.courseCard {
  width: 244px;
  background-color: $white;
  transition: all 0.2s ease-in-out;
  .cardInfo {
    .categoryPriceRow {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .category {
        text-transform: uppercase;
        padding: 6px;
        font-size: 12px;
        font-weight: 500;
      }
      .price {
        color: $orange;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .title {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      line-height: 20px;
      letter-spacing: -0.01em;
      padding: 0 16px 16px 16px;
      color: $black;
    }
    .ratingStudentsRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid $iceBlue;
      .ratingContainer {
        display: flex;
        align-items: center;
        gap: 4px;
        .rating {
          color: $black;
        }
      }
      .registeredStudents {
        display: flex;
        align-items: center;
        gap: 6px;
        .studentNumber {
          font-size: 14px;
          font-weight: 500;
          color: $black;
        }
        .students {
          color: $gray;
        }
      }
    }
  }
}

.courseCard:hover {
  box-shadow: 0 0 10px 4px $light-gray;
  background-color: $iceBlue;
}
