
.cta-component{
  width: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
padding: 80px 0;
margin: 0 auto;
.cta-content{
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  .cta-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:608px;
    padding:10px 0 0 40px;
    gap: 24px;
    background: linear-gradient(90deg, #CC522B 0%, #FF6636 100%);
    .cta-content-left-title-btn{
      display: flex;
      flex-direction: column;
      gap: 12px;
      .cta-content-left-header{
        margin: 0;
font-size: clamp(22px, 4vw, 32px);
font-weight: 600;
line-height:clamp(30px, 4vw, 40px);
letter-spacing: -0.01em;
text-align: left;
color:#ffffff ;
      }
      .cta-content-left-paragraph{
font-size:clamp(10px, 4vw, 14px);
font-weight: 400;
line-height:clamp(18px, 4vw, 22px);
letter-spacing: -0.01em;
text-align: left;
color:#ffffff ;

      }
    
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(150px, 4vw,196px);
height:clamp(32px, 4vw,48px);
gap: 12px;
background-color: #ffffff;
color: #FF6636;
text-decoration: none;
font-family: Inter;
font-size: clamp(8px, 4vw, 16px);
line-height: 48px;
letter-spacing: -0.008em;
text-align: left;

.cta-content-left-btn-arrow{
  display: flex;
  max-width: 24px;
  max-width: 24px;
  
}


      }
    }
  
   
  }
  .cta-content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 670px;
padding: 10px 40px;
gap: 27px;
opacity: 0px;
background-color: #ffffff;
.cta-content-right-header{
font-size:clamp(22px, 4vw, 32px);
font-weight: 600;
line-height:clamp(30px, 4vw, 40px);
letter-spacing: -0.01em;
text-align: left;

}
.cta-content-right-steps{
  display: grid;
      grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       gap: 16px;
       justify-items: start;
 .cta-content-right-steps-one{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 16px;
 p{
font-size: clamp(10px, 4vw, 16px);
font-weight: 400;
line-height: clamp(12px, 4vw, 24px);
text-align: left;

 }
 span{
  display: grid;
  place-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100%; 
  font-size: clamp(10px, 4vw, 24px);
  font-weight: 600;
  line-height: clamp(15px, 4vw, 30px);
  text-align: center;
  
 }
 }
}
  }
}
}

@media only screen and (max-width: 450px) {
  .cta-component .cta-content .cta-content-left{
    display: flex;
    background-color: #1359c1 !important;
    padding: 20px !important;
    img{
      display: none !important;
    }
  }
}
@media (max-width: 450px){
  .cta-component .cta-content .cta-content-right .cta-content-right-steps{
   display: flex;  
   flex-direction: column;
   margin: 0 auto;
   align-items: flex-start;
  width: 100vw;


   
   .cta-content-right-steps-one{
    display: flex;
   
   }
  }
}