@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

//Fonts
$primary-font: "Inter", sans-serif;

//Colors
$gray: #8c94a3;
$gray2: #6e7485;
$dark-gray: #4e5566;
$light-gray: #e9eaf0;
$orange: #ff6636;
$white: #fff;
$black: #1d2026;
$iceBlue: #f5f7fa;
$anthracite: #363b4766;
$anthraciteLight: #363b4780;
$primary-font-color: #1d2026;
