@use "../../../app/variables" as *;

.footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  max-width: 1920px;
  background-color: $black;
  .footerWrapper {
    display: flex;
    justify-content: center;
    padding-block: 100px;
    gap: 150px;
    border: 1px solid $anthraciteLight;
    border-left: transparent;
    border-right: transparent;
    .socialWrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 330px;
      .description {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: justify;
        color: $gray;
      }
      .socialIconsWrapper {
        display: flex;
        gap: 10px;
        .socialIcon {
          width: 46px;
          height: 46px;
          background-color: $anthracite;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.1s;
          &:hover {
            background-color: $orange;
            box-shadow: 0 0 10px 1px $orange;
          }
        }
      }
    }
    .linksWrapper {
      display: flex;
      gap: 80px;
      .linkColumn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h3 {
          font-size: 14px;
          font-weight: 500;
          color: $white;
          text-transform: uppercase;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          li {
            list-style: none;
            a {
              font-size: 14px;
              letter-spacing: -0.01em;
              color: $gray;
              text-decoration: none;
              &:hover {
                border-bottom: 1px solid $orange;
              }
            }
          }
        }
      }
    }
    .downloadsContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-size: 14px;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
      }
      .storeWrapper {
        display: flex;
        width: 164px;
        height: 58px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: $anthracite;
        h2 {
          font-size: 10px;
          color: $gray2;
          margin-bottom: 4px;
        }
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  .copyrightWrapper {
    display: flex;
    align-items: center;
    padding-block: 36px;
    justify-content: space-around;
    p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: $gray;
      span {
        color: $white;
        font-weight: 300;
      }
    }
    .languageSelection {
      position: relative;
      .menuContainer {
        width: 200px;
        height: 48px;
        background-color: $black;
        border-color: $anthracite;
        color: $gray;
        outline: transparent;
        appearance: none;
        cursor: pointer;
        font-family: $primary-font;
        font-size: 16px;
        padding-inline: 20px;
        option {
          height: 30px;
        }
      }
      span {
        position: absolute;
        right: 20px;
        top: 12px;
      }
    }
  }
}
