@use "../../app/_variables.scss" as *;
@mixin flex {
  display: flex;
  align-items: center;
}

.curriculum * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.curriculum {
  @include flex();
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 680px) {
    gap: 10px;
  }

  .titleWrapper {
    @include flex();
    width: 872px;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      width: 600px;
    }
    @media screen and (max-width: 680px) {
      width: 400px;
    }
    @media screen and (max-width: 680px) {
      width: 300px;
      flex-direction: column;
      gap: 10px;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      @media screen and (max-width: 680px) {
        font-size: 20px;
      }
    }
    span {
      @include flex();
      gap: 10px;
      color: $dark-gray;
      @media screen and (max-width: 680px) {
        font-size: 12px;
      }
    }
  }
  .curriculumListWrapper {
    @include flex();
    flex-direction: column;
    gap: 10px;
    .listItem {
      @include flex();
      flex-direction: column;
      gap: 20px;
      border: 1px solid $light-gray;
      padding: 20px;
      @media screen and (max-width: 680px) {
        gap: 10px;
        padding: 14px;
      }
      .itemDetail {
        @include flex();
        width: 872px;
        justify-content: space-between;
        @media screen and (max-width: 1000px) {
          width: 600px;
        }
        @media screen and (max-width: 680px) {
          width: 400px;
        }
        @media screen and (max-width: 680px) {
          width: 270px;
          flex-direction: column;
          gap: 10px;
        }
        .titleDropDown {
          @include flex();
          gap: 20px;
          @media screen and (max-width: 680px) {
            gap: 10px;
          }
          span {
            transition: all 0.2s;
            width: 24px;
            height: 24px;
            @include flex();
            justify-content: center;
            border-radius: 30px;

            &:hover {
              background-color: $orange;
              cursor: pointer;
            }
          }
          p {
            @media screen and (max-width: 680px) {
              font-size: 14px;
            }
          }
        }
        .detailedInfo {
          @include flex();
          gap: 30px;
          @media screen and (max-width: 680px) {
            gap: 10px;
          }
          span {
            @include flex();
            gap: 6px;
            color: $dark-gray;
            @media screen and (max-width: 680px) {
              font-size: 12px;
            }
          }
        }
      }
      ul {
        @include flex();
        flex-direction: column;
        gap: 20px;
        li {
          @include flex();
          width: 872px;
          justify-content: space-between;
          @media screen and (max-width: 1000px) {
            width: 600px;
          }
          @media screen and (max-width: 680px) {
            width: 400px;
          }
          @media screen and (max-width: 680px) {
            width: 270px;

            gap: 10px;
          }

          .titleAndIcon {
            @include flex();
            gap: 20px;
            @media screen and (max-width: 680px) {
              font-size: 12px;
            }
          }
          .duration {
            color: $gray;
            @media screen and (max-width: 680px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
