@use "../../app/_variables.scss" as *;

.heroSection {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #f0f2f5;
  padding: 20px;

  .textContainer {
    margin: 0 auto;
    max-width: 500px;

    h1 {
      font-size: 48px;
      color: $primary-font-color;
    }

    p {
      font-size: 16px;
      color: #4e5566;
    }

    .createAccountButton {
      background-color: #ff5722;
      color: white;
      height: 56px;
      width: 198px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-family: $primary-font;

      &:hover {
        background-color: #e64a19;
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1400px) {
    grid-template-columns: 1fr auto;

    .imageContainer {
      justify-content: flex-end;
      margin-top: 20px;
    }

    .textContainer {
      width: 432px;
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;

    .textContainer {
      margin-bottom: 20px;
      width: auto;
      text-align: center;
    }

    .imageContainer {
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;

    .textContainer {
      margin-bottom: 20px;
      max-width: 100%;
      text-align: center;
      h1 {
        font-size: 22px;
      }

      p {
        font-size: 12px;
      }
      .createAccountButton {
        width: 140px;
        height: 40px;
        font-size: 14px;
      }
    }

    .imageContainer {
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
