@use "../../app/_variables.scss" as *;

.instructorCard {
	width: 244px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.instructorThumbnail {
		margin: 0;
	}
	.personalInfo {
		margin: 0;
		border: 1px solid $light-gray;
		border-top: 0;
		text-align: center;
		display: flex;
		gap: 10px;
		flex-direction: column;
		justify-content: space-around;
		padding-block: 14px;
		.name {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}
		.title {
			font-size: 14px;
			font-weight: 400;
			color: $gray;
			margin: 0;
		}
	}
	.stats {
		border: 1px solid $light-gray;
		border-top: 0;
		display: flex;
		justify-content: space-between;
		padding: 14px;
		.ratingContainer {
			display: flex;
			align-items: center;
			gap: 6px;

			.rating {
				font-size: 14px;
				font-weight: 500;
			}
		}
		.studentNumberContainer {
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 14px;
			.studentNumber {
				font-weight: 500;
			}
			.students {
				font-weight: 400;
				color: $gray;
			}
		}
	}
}
