@use "../../app/_variables.scss" as *;

.courseCard {
  width: 244px;
  background-color: $white;
  transition: all 0.2s ease-in-out;
  @media screen and (max-width: 1440px) {
    width: 200px;
  }
  @media screen and (max-width: 1150px) {
    width: 170px;
  }
  @media screen and (max-width: 650px) {
    width: 150px;
  }
  @media screen and (max-width: 350px) {
    width: 140px;
  }
  .thumbnailWrapper {
    width: 244px;
    height: 183px;
    position: relative;
    @media screen and (max-width: 1440px) {
      width: 200px;
      height: calc((200px * 183) / 244);
    }
    @media screen and (max-width: 1150px) {
      width: 170px;
      height: calc((170px * 183) / 244);
    }
    @media screen and (max-width: 650px) {
      width: 150px;
      height: calc((150px * 183) / 244);
    }
    @media screen and (max-width: 350px) {
      width: 140px;
      height: calc((150px * 183) / 244);
    }
  }
  .cardInfo {
    .categoryPriceRow {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1440px) {
        padding: 8px;
      }
      .category {
        text-transform: uppercase;
        padding: 6px;
        font-size: 12px;
        font-weight: 500;
        @media screen and (max-width: 1150px) {
          padding: 2px;
          font-size: 10px;
          letter-spacing: -0.4px;
        }
        @media screen and (max-width: 650px) {
          letter-spacing: -0.07em;
        }
        @media screen and (max-width: 650px) {
          font-size: 11px;
        }
      }
      .price {
        color: $orange;
        font-size: 16px;
        font-weight: 600;
        @media screen and (max-width: 1150px) {
          font-size: 14px;
        }
      }
    }
    .title {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      line-height: 20px;
      letter-spacing: -0.01em;
      padding: 0 16px 16px 16px;
      color: $black;
      @media screen and (max-width: 1440px) {
        padding: 8px;
        height: 70px;
      }
      @media screen and (max-width: 1150px) {
        font-size: 12px;
        height: 50px;
      }
      @media screen and (max-width: 650px) {
        padding: 0 8px 8px 8px;
        height: 60px;
        letter-spacing: -0.05em;
      }
    }
    .ratingStudentsRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid $iceBlue;
      @media screen and (max-width: 1440px) {
        padding: 8px;
      }
      .ratingContainer {
        display: flex;
        align-items: center;
        gap: 4px;
        @media screen and (max-width: 1150px) {
          gap: 0;
        }
        @media screen and (max-width: 990px) {
          /*  gap: 4px; */
        }
        .rating {
          color: $black;
          @media screen and (max-width: 1150px) {
            font-size: 14px;
          }
          @media screen and (max-width: 650px) {
            letter-spacing: -0.07em;
            font-size: 12px;
          }
        }
      }
      .registeredStudents {
        display: flex;
        align-items: center;
        gap: 6px;
        @media screen and (max-width: 650px) {
          gap: 2px;
        }
        .studentNumber {
          font-size: 14px;
          font-weight: 500;
          color: $black;
          @media screen and (max-width: 1150px) {
            font-size: 12px;
          }
          @media screen and (max-width: 650px) {
            letter-spacing: -0.05em;
          }
        }
        .students {
          color: $gray;
          @media screen and (max-width: 1150px) {
            font-size: 12px;
          }
          @media screen and (max-width: 650px) {
            letter-spacing: -0.05em;
          }
        }
      }
    }
  }
}
.courseCard:hover {
  box-shadow: 0 0 10px 4px $light-gray;
  background-color: $iceBlue;
}
.courseCard:last-child {
  @media screen and (max-width: 990px) {
    display: none;
  }
  @media screen and (max-width: 530px) {
    display: block;
  }
}
