@use "../../app/_variables.scss" as *;

.accordionItem {
  border-bottom: 1px solid $light-gray;
  .titleContainer {
    border: 1px solid $light-gray;
    border-bottom: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    .title {
      text-transform: uppercase;
      font-weight: 500;
    }
    .downArrowContainer {
      cursor: pointer;
      transform: rotate(180deg);
    }
  }
  .subCategoryContainer {
    .subCategoryTitleContainer {
      border: 1px solid $light-gray;
      border-bottom: transparent;
      padding-inline: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .subCategoryIconWrapper {
        position: relative;
        width: 24px;
        height: 24px;
      }
      .subCategoryTitle {
        text-transform: capitalize;
        flex: 2;
        margin-left: 20px;
      }
      .subDownArrowContainer {
        cursor: pointer;
        transform: rotate(180deg);
      }
    }
    .subTitleContainer {
      padding-inline: 20px;
      border: 1px solid $light-gray;
      border-bottom: transparent;
      .subTitleTitleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .subTitleTitle {
          text-transform: capitalize;
          font-size: 14px;
          color: $dark-gray;
          flex: 2;
          margin-left: 10px;
        }
        .subTitleStudents {
          font-size: 12px;
          color: $gray;
        }
      }
    }
  }
}
