@use "../../../app/_variables.scss" as *;

.additionalFooter * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.additionalFooter {
  background-color: $black;
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  padding-block: 60px;
  .startLearning {
    max-width: 540px;
    p {
      color: $white;
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: -0.01em;
      margin-bottom: 20px;
    }
    .buttonsWrapper {
      display: flex;
      gap: 20px;
      button {
        width: 200px;
        height: 50px;
        border-radius: 0;
        outline: transparent;
        border: transparent;
        font-family: $primary-font;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        background-color: $anthracite;
        transition: all 0.2s;
        &:hover {
          font-size: 18px;
          cursor: pointer;
        }
        &:first-child {
          background-color: $orange;
          transition: all 0.2s;
          &:hover {
            font-size: 18px;
          }
        }
      }
    }
  }
  .stats {
    display: flex;
    gap: 100px;
    color: $white;

    div {
      h5 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        color: $gray;
      }
    }
  }
}
